html {
    height: 100%;
}

body {
    height: 100%;
}

#root {
    height: 100%;
}

.App {
    text-align: center;
    height: 100%;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.display-none {
    display: none;
}

.visible-hidden {
    visibility: hidden
}

.api-error-img {
    background-image: url("../assets/image/common/error-message.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    position: relative;
    left: calc(50% - 75px);
}

.api-error {
    background: white;
    color : black;
    padding : 10px;
    font-weight: bold;
    border-radius: 5px;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}