/* styles.css */

/*html, body {
    height: 100%;
    margin: 0;
    font-family: 'Arial, sans-serif';
}

body {
    background: #1e1e1e;
    color: #fff;
}*/

.result-area {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.character-info {
    background: #2b2b2b;
    border-radius: 10px;
    padding: 20px;
    width: 800px;
    height: 80%;
    margin-right: 20px;
}

.character-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.character-avatar img {
    background: white;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin-right: 20px;
}

/* START) 캐릭터 정보 텍스트 */
.character-details {
    flex-grow: 1;
    padding-left: 5%;
}

.character-details h1 {
    text-align: left;
    color : white;
}

.character-details p {
    text-align: left;
    color : white;
}
/* END) 캐릭터 정보 텍스트 */

.character-equipment {
    margin-top: 20px;
    color : white;
}

.character-equipment h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

/* START) 세트 효과 */
.set-title {
    margin-top: 0px;
    margin-bottom: 5px;
}

.set-effect-list {
    background: #2b2b2b;
    border-radius: 10px;
    padding: 15px;
    margin: 0px;
}

.set-effect-list li {
    list-style-type: none;
    color: white;
}
/* END) 세트 효과 */


/* START) 어빌리티 */
.ability-title-area {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.ability-title-area h2{
    margin: 0;
    position: relative;
    left: calc(50% - 48px);
}

.ability-title-area a{
    border-radius: 5px;
    background: #4f4f4f;
    margin-left: 5px;
    padding: 5px 10px 5px 10px;
    color: white;
    cursor : pointer;
}

.ability-preset-checked {
    background: #2b2b2b !important;
}

.ability-title-area a:hover{
    background: #3f3f3f !important;
}

.ability-section {
    background: #2b2b2b;
    border-radius: 10px;
    padding: 15px;
}

.ability-item {
    color: white;
    margin-bottom: 0;
    margin-top: 3px;
    border-radius: 5px;
    padding: 2px 0px 2px 0px;
}

.ability-item-leg {
    background: #A4C700;
}
.ability-item-uniq {
    background: #E89C09;
}
.ability-item-epic {
    background: #7F66D3;
}
.ability-item-rare {
    background: #36B8D0;
}
/* END) 어빌리티 */

/* START) 장비 아이템 */
.equipment-title {
    display: flex;
    align-items: center;
}

.equipment-title h2{
    margin-top: 0px;
    margin-bottom: 5px;
    position: relative;
    left: calc(50% - 24px);
}

.equipment-title div{
    margin-left: auto;
}

.equipment-title a {
    font-size: 12px;

    color: black;
    background: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 2px 5px 2px 5px;
    margin-left: 5px;
    cursor: pointer;
}

.equipment-title a:hover {
    color: white !important;
    background: #423f40 !important;
    border: 1px solid white !important;
}

.equipment-title-checked {
    color: white !important;
    border: 1px solid white !important;
    background: transparent !important;
}

.equipment-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

.equipment-item-area {
    display: flex;
}

.equipment-item {
    background: #3b3b3b;
    border-radius: 5px;
    border: 1px solid;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.equipment-item img {
    width: 30px;
    height: 30px;
    object-fit: none;
}

.equipment-details {
    margin-top: 10px;
}

.equipment-name {
    font-size: 1rem;
    font-weight: bold;
}

.equipment-stats {
    font-size: 0.875rem;
    color: #aaa;
}

.equipment-view-box {
    position: relative;
    padding: 10px 0px 10px 0px;
    width: 300px;
    min-height: 180px;
    background-color: #15181D;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
}

.equipment-view-box > .equipment-star {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    place-content: center;
    padding-bottom: 4px;
}

.equipment-view-box .equipment-item-title {
    margin-top: 2px;
}

.equipment-view-box .equipment-item-title p{
    margin: 0px;
    line-height: 1.5;
    text-align: center;
    color: white;
    font-weight: 500;
}

.equipment-view-box .equipment-item-title p:nth-child(1) {
    font-size: 15px;
}

.equipment-view-box .equipment-item-title p:nth-child(2) {
    font-size: 12px;
}

.equipment-view-box .next-line {
    margin: 8px 0px 0px;
    flex-shrink: 0;
    border-width: 0px 0px thin;
    border-color: rgba(255, 255, 255, 0.12);
    border-style: dashed;
}

.equipment-view-box .item-top {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: end;
    padding: 8px 8px 8px 12px;
}

.equipment-view-box .item-top .item-img-space{
    width: 80px;
    height: 80px;
    align-items: center;
    display: grid;
    border-radius: 5px;
    border: 1px solid white;
}

.equipment-view-box .item-top .item-img-space img{
    image-rendering: pixelated;
    position: relative;
    left: calc(50% - 25px);
    width: 50px;
    height: 50px;
    object-fit: none;
    scale: 1.5;
}

.equipment-view-box .item-top .equipment-level p{
    font-size: 10px;
    margin: 0px 0px 5px 5px;
    text-align: left;
    color: #ffcc00;
}

.equipment-view-box .item-top .equipment-level .equipment-level-limit{
    display: flex;
    margin: 0px;
}

.equipment-view-box .item-top .equipment-level .equipment-level-limit p{
    margin : 0px 0px 0px 5px;
    color: white;
    font-size: 8px;
}

.equipment-view-box .equipment-job{
    display: flex;
    font-size: 9px;
    justify-content: center;
}

.equipment-view-box .equipment-job p {
    margin: 0px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    padding: 3px 8px 3px 8px;
}

.equipment-view-box .equipment-job p:first-child {
    border-radius: 3px 0px 0px 3px;
    padding: 3px 8px 3px 8px;
    text-align: center;
}

.equipment-view-box .equipment-job p:last-child {
    border-radius: 0px 3px 3px 0px;
    border-right: 1px solid white;
    padding: 3px 8px 3px 8px;
}

.equipment-view-box .equipment-item-details p {
    margin: 1px 0px 0px 10px;
    text-align: left;
    font-size: 11px;
}

.equipment-view-box .equipment-item-details p:first-child {
    margin: 8px 0px 0px 10px;
}

.equipment-view-box .equipment-item-details div > p:first-child {
    margin: 0px 0px 0px 10px;
}


.equipment-view-box .equipment-item-details p .default-option{
    color: white;
}

.equipment-view-box .equipment-item-details p .synthesis-option{
    color: #66FFFF;
}

.equipment-view-box .equipment-item-details p .add-option{
    color: #ccff00;
}

.equipment-view-box .equipment-item-details p .force-option{
    color: #aaaaff;
}

.equipment-view-box .equipment-item-details p .star-force-option{
    color: #ffcc00;
}

.equipment-view-box .equipment-item-details .leg-option {
    display: flex;
    color: #A4C700;
}

.equipment-view-box .equipment-item-details .uniq-option {
    display: flex;
    color: #E89C09;
}

.equipment-view-box .equipment-item-details .epic-option {
    display: flex;
    color: #7F66D3;
}

.equipment-view-box .equipment-item-details .rare-option {
    display: flex;
    color: #36B8D0;
}

.equipment-view-box .equipment-item-details .leg-option span,
.equipment-view-box .equipment-item-details .uniq-option span,
.equipment-view-box .equipment-item-details .epic-option span,
.equipment-view-box .equipment-item-details .rare-option span{
    margin-left: 3px;
}
/* END) 장비 아이템 */

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #0070f3;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 50px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.sidebar {
    width: 600px;
    margin-left: 100px; /* Adjust margin as needed */
}
